.slides
	section
		br
		h1 Visualizing Concurrency
		h3 Go concurrency visually explained
		br
		h5 Ivan Danyliuk
		h5 @idanyliuk
	section
		h2 Modern world is concurrent
		ul
			li Moore&apos;s Law is dead
			li Multi-core CPUs
			li ...
	section
		h2 What is concurrency?
		a(href='https://en.wikipedia.org/wiki/Concurrency_(computer_science)', target='_blank') Concurrency (Wikipedia)
		blockquote(style='width:90%')
			| In computer science, concurrency ... is a property of systems in which several computations are executing simultaneously, and potentially interacting with each other.
	section
		h3 Rob Pike - Concurrency is not parallelism
		br
		#ytplayer.ytapiplayer(data-youtube-url='http://www.youtube.com/v/cN_DpYBzKso?enablejsapi=1&version=3&border=0')
	section
		h2 Concurrency vs parallelism
		ul
			li Concurrency is a way of structuring programs.
			li Parallelism is simply running things in parallel.
			li
			| Concurrent program can run either on single core or multiple cores.
	section
		h2 Concurrency in Go
		ul
			li Based on Tony Hoare&apos;s CSP&apos;78 paper
			li Channels
			li Goroutines
			li Select

	section
		h3 Hello, world
		pre(style='width: 50%; float: left')
			code.golang
				include ./code/hello01.go
		div.fragment.grow(style='width: 50%; float: right')
			canvas(data-sample='hello01', style='display:inline')

	section
		h3 Ping-pong
		pre(style='width: 50%; float: left')
			code.golang
				include ./code/pingpong01.go
		div.fragment.grow(style='width: 50%; float: right')
			canvas(data-sample='pingpong01', style='display:inline')

	mixin slide(title, sample)
		section
			h3= title
			div
				canvas(data-sample=sample, style='display:inline')
	+slide("Ping-pond #3", "pingpong01_full")

	section
		h3 Ping-pong #3
		pre
			code.golang
				include ./code/pingpong03.go
	+slide("Ping-pong #3", "pingpong03")

	section
		h3 Ping-pong #100
		pre
			code.golang
				include ./code/pingpong100.go
	+slide("Ping-pong #100", "pingpong100")

	section
		h3 Concurrent prime sieve
		pre
			code.golang
				include ./code/primesieve.go
	+slide("Concurrent prime sieve", "primesieve")
